<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hms.locationsample6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Configure data elements. If the HMS Core (APK) is not installed on the subscriber's mobile phone or the HMS Core version is too early, instruct the subscriber to install or upgrade the HMS Core.-->
        <meta-data
            android:name="com.huawei.hms.client.channel.androidMarket"
            android:value="false" />

        <activity android:name="com.hms.locationsample6.fusedlocation.CheckSettingsActivity" />
        <activity android:name="com.hms.locationsample6.fusedlocation.RequestLocationUpdateWithIntentActivity" />
        <activity android:name="com.hms.locationsample6.activity.LocationMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hms.locationsample6.fusedlocation.RequestLocationUpdatesWithCallbackActivity" />
        <activity android:name="com.hms.locationsample6.geofence.OperateGeoFenceActivity" />
        <activity android:name="com.hms.locationsample6.geofence.GeoFenceActivity" />
        <activity
            android:name="com.hms.locationsample6.fusedlocation.SetMockModeActivity"
            android:configChanges="orientation|screenSize" /> <!-- SetMockLocation -->
        <activity
            android:name="com.hms.locationsample6.fusedlocation.SetMockLocationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.hms.locationsample6.fusedlocation.GetLastLocationActivity"
            android:configChanges="orientation|screenSize" /> <!-- GetLocationAvailability -->
        <activity
            android:name="com.hms.locationsample6.fusedlocation.RequestLocationUpdatesHDWithCallbackActivity"
            android:configChanges="orientation|screenSize" /> <!-- LocationBroadcastReceiver -->
        <activity
            android:name="com.hms.locationsample6.fusedlocation.GetLocationAvailabilityActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.hms.locationsample6.useractivity.ActivityConversionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.hms.locationsample6.fusedlocation.NavigationContextStateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="com.hms.locationsample6.useractivity.ActivityIdentificationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.hms.locationsample6.activity.BaseActivity" />

        <receiver
            android:name="com.hms.locationsample6.geofence.GeoFenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hmssample.geofence.GeoFenceBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.hms.locationsample6.fusedlocation.LocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hmssample.location.LocationBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="${applicationId}.hms.update.provider"
            android:exported="false"
            android:grantUriPermissions="true" />
    </application>

</manifest>