<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hms.locationsample6">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".fusedlocation.CheckSettingsActivity" />
        <activity android:name=".fusedlocation.RequestLocationUpdateWithIntentActivity" />
        <activity
            android:name=".activity.LocationMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fusedlocation.RequestLocationUpdatesWithCallbackActivity" />
        <activity android:name=".geofence.OperateGeoFenceActivity" />
        <activity android:name=".geofence.GeoFenceActivity" />
        <activity
            android:name=".fusedlocation.SetMockModeActivity"
            android:configChanges="orientation|screenSize" /> <!-- SetMockLocation -->
        <activity
            android:name=".fusedlocation.SetMockLocationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".fusedlocation.GetLastLocationActivity"
            android:configChanges="orientation|screenSize" /> <!-- GetLocationAvailability -->
        <activity
            android:name=".fusedlocation.RequestLocationUpdatesHDWithCallbackActivity"
            android:configChanges="orientation|screenSize" /> <!-- LocationBroadcastReceiver -->
        <activity
            android:name=".fusedlocation.GetLocationAvailabilityActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".useractivity.ActivityConversionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".fusedlocation.NavigationContextStateActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".useractivity.ActivityIdentificationActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activity.BaseActivity" />
        <activity
            android:name=".activity.WriteLogActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.CoordinateConverterActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name="com.huawei.location.service.BackGroundService"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".geofence.GeoFenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hmssample.geofence.GeoFenceBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".fusedlocation.LocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hmssample.location.LocationBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>