<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huawei.locationsample6">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="com.huawei.hms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".NavigationContextStateActivity" />
        <activity android:name=".location.fusedlocation.CheckSettingActivity" />
        <activity android:name=".geofence.OperateGeoFenceActivity" />
        <activity android:name=".geofence.GeoFenceActivity" />
        <activity
            android:name=".HuaweiLocationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- RequestLocationUpdatesWithCallback -->
        <activity
            android:name=".location.fusedlocation.RequestLocationUpdatesWithCallbackActivity"
            android:configChanges="orientation|screenSize" /> <!-- RequestLocationUpdatesWithIntent -->
        <activity
            android:name=".location.fusedlocation.RequestLocationUpdatesWithIntentActivity"
            android:configChanges="orientation|screenSize" /> <!-- GetLastLocation -->
        <activity
            android:name=".location.fusedlocation.GetLastLocationActivity"
            android:configChanges="orientation|screenSize" /> <!-- GetLocationAvailability -->
        <activity
            android:name=".location.fusedlocation.GetLocationAvailabilityActivity"
            android:configChanges="orientation|screenSize" /> <!-- SetMockMode -->
        <activity
            android:name=".location.fusedlocation.SetMockModeActivity"
            android:configChanges="orientation|screenSize" /> <!-- SetMockLocation -->
        <activity
            android:name=".location.fusedlocation.SetMockLocationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.ActivityConversionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activity.ActivityIdentificationActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".location.fusedlocation.RequestLocationUpdatesHDWithCallbackActivity"
            android:configChanges="orientation|screenSize" /> <!-- LocationBroadcastReceiver -->
        <activity
            android:name=".WriteLogActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".CoordinateConverterActivity"
            android:configChanges="orientation|screenSize" />

        <service
            android:name="com.huawei.location.service.BackGroundService"
            android:foregroundServiceType="location" />

        <receiver
            android:name=".location.fusedlocation.LocationBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hmssample.location.LocationBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".geofence.GeoFenceBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.huawei.hmssample.geofence.GeoFenceBroadcastReceiver.ACTION_PROCESS_LOCATION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>